page-login {

    .image-logo{
        border-radius: 50%;
        
        box-shadow: 3px 7px 10px grey;
        border: 3px solid white;
        width: 140px;
        height: 140px;
    }

    .btn{
        border:3px solid white ;
        box-shadow: 3px 4px 3px gainsboro;
        
    }
   

    .bg{
        background-image: url('../../assets/imgs/bg-image.png');
        background-size: cover;
        background-repeat: no-repeat;
    }

    .content-center>*{
        display: flex;
        align-content: center !important;
        align-items: center !important;

    }

    .card-ios, .card-md {
        background: transparent;
        box-shadow : none ;
    }

    

    

}
