page-complete-thread {
    p {
        height: auto;
        width: 100%;
      }
      ion-item {
        height: auto;
      }
    h2 {
        font-size: 2.4rem;
        text-align: center;
        background-color: steelblue;
        color: white;
        padding: 1px;
        border: 1px solid grey;
    }
    
}
