page-threads {
    .item {
        text-transform: capitalize;
        color: #252323;
        background-color: #ffb75169;
    }
    
    .card h2 {
        font-size: 2.4rem;
        text-align: center;
        background-color: #faba62;
        color: rgb(34, 34, 34);
        margin: 0px;
        font-size: 1.6rem;
        text-transform: capitalize;
        font-style: italic;
        font-weight: bold;
        padding: 2% 0px 2% 0px;
    }
    .card p {
        margin: 0;
        font-size: 1.4rem;
        font-weight: normal;
        line-height: 1.5;
        color: #222;
        padding: 0 3% 0 3%;
        text-transform: capitalize;
    }

}
.card-background-page .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
}