
<ion-card style="height: auto !important;width: 200px;">

  <ion-item>
    <ion-avatar item-start>
      <img src="https://source.unsplash.com/50x50/">
    </ion-avatar>
    <h2> {{customTitle.titulo}} </h2>
    <p>{{customTitle.endTime}} </p>
  </ion-item>

  <img src="https://source.unsplash.com/50x50/">

  <ion-card-content>
    <p> {{customTitle.descripcion}}
    </p>
  </ion-card-content>

  <ion-row>
    <ion-col>
      <button ion-button icon-start clear small>
        <ion-icon name="thumbs-up"></ion-icon>
        <div>12 Likes</div>
      </button>
    </ion-col>
    <ion-col>
      <button ion-button icon-start clear small>
        <ion-icon name="text"></ion-icon>
        <div>4 Comments</div>
      </button>
    </ion-col>
    <ion-col center text-center>
      <ion-note>
        11h ago
      </ion-note>
    </ion-col>
  </ion-row>

</ion-card>

