.scroll-content {
    background-image: url('../assets/imgs/logo.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-color: rgba(234, 138, 0, 0.07);
}
.tabs-md-primary .tab-button, .tabs-md-primary .tab-button-icon{
    color: #351818;
}
.tabs-md-primary .tab-button:hover:not(.disable-hover), .tabs-md-primary .tab-button[aria-selected=true], .tabs-md-primary .tab-button[aria-selected=true] .tab-button-icon{
    color: #252323;
}