<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Chat with {{ friend.username }}
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <ion-icon name="close-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="message-wrap">
    <div *ngFor="let msg of msgMocks.items">
      <div class="sender" *ngIf="msg.from == friend.username && msg.to == myProfile.username ">
        <ion-grid>
          <ion-row>
            <ion-col col-2 text-left>
            </ion-col>
            <ion-col col-10>
              <p>{{msg.content}}</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <div class="me" *ngIf="msg.from == myProfile.username && msg.to == friend.username">
        <ion-grid>
          <ion-row>
            <ion-col col-10>
              <p>{{msg.content}}</p>
            </ion-col>
            <ion-col col-2>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer no-border>
  <ion-toolbar color="primary">
    <ion-textarea (keyup.enter)="doSend()" [(ngModel)]="input" placeholder="Enter your message" name="message"></ion-textarea>
    <ion-buttons end>
      <button (click)="doSend()" ion-button icon-only>
        <ion-icon ios="ios-send" md="md-send"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>